.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: var(--background);
    justify-items: center;
    align-content: center;
    margin: 40px 0;
    grid-gap: 50px;
    padding: 0 20px;
}

.loading-text,
.error-white {
    color: white;
    text-align: center;
    width: 80vw;
}

@media(max-width:1150px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* @media(max-width:990px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
} */
@media(max-width:790px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:650px) {
    .products {
        grid-template-columns: 1fr;
    }
}