.hero {
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    position: relative;
}


.hero__title {
    position: absolute;
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 70%);
    width: 100%;
    font-size: 25px;
    color: white;
    height: 200px;
    font-weight: 100;
    /* padding-left: 12px; */
}

.hero__name {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 70%);
    width: 100%;
    font-size: 50px;
    font-weight: 400;
    color: white;
    height: 200px;
    /* padding-left: 12px; */
}

.hero__name div,
.hero__title div {
    padding: 15px;
}

.hero__name div {
    padding-bottom: 40px;
}

.hero__image--img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}