@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --theme-color: rgb(66, 99, 232);
    --border-radius: 8px;
    --product-name: 25px;
    --product-author: 12px;
    --product-price: 15px;
    --background: white;
    --color: black;
    --secondary-background: rgb(235, 235, 235);
    --background-dark: black;
    --color-dark: white;
    --secondary-background-dark: rgb(30, 30, 30);
    --transition: .1s
}

body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
    background-color: var(--background);
    opacity: 1;
    background-size: 64px 64px;
    background-position: 0 0, 32px 32px;
}